apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkedlist-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkedlist
  template:
    metadata:
      labels:
        app: linkedlist
    spec:
      containers:
      - name: linkedlist
        image: linkedlist-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
        - name: DB_HOST
          value: "postgres-service"
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: DB_PASSWORD
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "300m"
            memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: linkedlist-service
spec:
  type: ClusterIP
  selector:
    app: linkedlist
  ports:
    - port: 5002
      targetPort: 8080