apiVersion: apps/v1
kind: Deployment
metadata:
  name: stack-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stack
  template:
    metadata:
      labels:
        app: stack
    spec:
      containers:
      - name: stack
        image: stack-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        env:
        - name: DB_HOST
          value: "postgres-service"
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: DB_PASSWORD
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "250m"
            memory: "128Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: stack-service
spec:
  type: ClusterIP
  selector:
    app: stack
  ports:
    - port: 5001
      targetPort: 80